{% extends "index.html" %}

{% block content %}

<div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
        <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold">Статистика ответов</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
                <canvas id="myPieChart"></canvas>
            </div>
        </div>
    </div>
</div>
<div style="visibility: hidden" id="stats">{{data}}</div>
{% endblock %}
