{% extends "index.html" %}

{% block content %}

<center>
    <div class="width-45">
        <h2>{{ task.question }}</h2>
        {% if task.picture_path %}
            <img src="../../{{ task.picture_path }}" style="max-width: 30vw;">
        {% endif %}
        <form action="" method="POST" class="form" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
            <p>
                {{ form.answer.label }}<br>
                {{ form.answer(class="form-control") }}<br>
                {% for error in form.answer.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-outline-success") }}</p>
            {{message}}
        </form>
    </div>
</center>
{% endblock %}
