{% extends "index.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Вопрос</th>
      <th scope="col">Максимальный балл</th>
      <th scope="col">Полученный балл</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr class="{% if ratings[loop.index0].amount == task.given_points %}green_line {% elif ratings[loop.index0].amount is not defined %}{% else %} red_line {% endif %}">
      <th scope="row">{{ task.id }}</th>
      <td>{{ task.question }}</td>
      <td> {{ task.given_points }} </td>
      <td>{% if ratings[loop.index0] != None %} {{ ratings[loop.index0].amount }} {% else %} <a href="task/{{ task.id }}">Не пройден/На проверке</a> {% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
