{% extends "index.html" %}

{% block content %}

<center><h2>{{ thr.title }}</h2></center>
{% if thr.picture_path %}
<center>
    <img src="../../{{ thr.picture_path }}" style="max-height: 500px;">
</center>
{% endif %}
<p>{{ thr.description }}</p>
{% if thr.video_path %}
<center>
    <video controls style="max-width: 500px;">
        <source src="../../{{ thr.video_path }}">
    </video>
</center>
{% endif %}
{% if current_user.is_admin %}
<center>
    <a href="/theory/delete/{{ thr.id }}">
        <button type="button" class="btn btn-danger">Удалить</button>
    </a>
</center>
{% endif %}

{% endblock %}
